@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

*{
   margin: 0;
   padding: 0; 
}

body{
    background-color: pink;
}

header{
    background-image: linear-gradient(to top, pink, whitesmoke);
    padding-bottom:30px;
}

.poema p {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    
  }

header h1{
    text-align: center;
    
}

header h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

  }

div.poema{
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 10px;
    border: solid 1px black;
    width: 200px;
    display: flex;
    margin: auto;
    padding: 10px;
    margin-top:20px;
    margin-bottom: 20px;
}

div.fotos{  
    text-align: center;
    border: solid 1px black;
    padding: 20px;
}

.main {  
    display: grid;  
    grid-template-columns: 100px 100px 100px;  
    grid-template-rows: 50px 50px;  
}

